@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;

}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
a{
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a img{
  width: 100px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 25px;
}
nav ul li a {
  color: hsl(243, 87%, 12%);
}
nav ul li a:hover{
  text-decoration: underline;
}
.hero {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    min-height: 90vh;
}

.hero section {
  flex: 1;
}
.hero-left h1 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #ffffff;
  line-height: 1;
}

.hero-left p {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #ffffff;
}

.hero-left {
  padding-right: 40px;
  margin-bottom: 30px;
}
.hero-left a {
  padding: 10px 15px;
  background: #372cfa;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s all ease;
  border-radius: 20px;
}
.hero-left a:hover{
  background-color: #070439;
}
.right {
  padding-top: 50px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
  width: 100%;
  max-width: 465px;
}
@media screen and (max-width: 1000px) {
  nav img {
    width: 100px; 
  }

  nav li {
    list-style: none;
    margin: 0 8px 
  }

  .hero {
    flex-direction: column;  
    text-align: center; 
  }

  .hero .right {
    order: -1;  
    padding-bottom: 5rem; 
  }
}